INTROUCTION
A dataset from the Food and Agriculture Organization of the United Nations

In [2]:
#importing the required libraries
import pandas as pd
import numpy as np

In [135]:
#loading the file
data=pd.read_csv("data.csv", encoding="latin_1")
data.columns
data.info()
print(data["Element"].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB
Domestic supply quantity                  5295
Import Quantity                           5139
Protein supply quantity (g/capita/day)    5023
Fat supply quantity (g/capita/day)        5023
Food supply (kcal/capita/day)             5014
Food                                      4941
Food supply quantity (kg/capita/yr)       4905
Residuals                                 4655
Export Quantity                           4403
Stock Variation                           4232
Production                                3881
Processing                                2010
Losses                                    2009
Other uses (non-food)                     1732
Feed                                      1319
Seed                                       762
Tourist consumption                        555
Total Population - Both sexes               45
Name: Element, dtype: int64

Question 1: What is the total number and percentage of missing data in 2014 to 3 decimal places

In [131]:
total_number_of_missing_data=data["Y2014"].isnull().sum()
total_number_of_missing_data
#print(data["Y2014"].info())
null_values=data["Y2014"].isnull().sum()
total_values=len(data["Y2014"])
percentage_of_total_number_of_missing_data=(null_value/total_values)*100
percentage_of_total_number_of_missing_data=round(percentage_of_total_number_of_missing_data,3)
str(percentage_of_total_number_of_missing_data) +"%"

'2.607%'

Question 2: What is the total protein supply quantity in Madagascar in 2015

In [142]:
question_2=data.loc[(data["Area"]=="Madagascar")& (data["Element"]=="Protein supply quantity (g/capita/day)")]
question_2["Y2015"].sum()

173.04999999999998

Question 3:  creating a dataframe from a list

In [151]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age', 'Nationality','Overall']
dataframe=pd.DataFrame(lst, columns=col, index=range(1,4))
dataframe

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

Question 4: Output for the code

In [153]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'l'

Question 5: Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [164]:
grouping_by_element=data.groupby("Element")["Y2017"].sum()
grouping_by_element

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places

In [166]:
year_2017=data["Y2017"].describe()
round(year_2017, 2)

count     59437.00
mean        140.92
std        1671.86
min       -1582.00
25%           0.00
50%           0.10
75%           9.00
max      190873.00
Name: Y2017, dtype: float64

What is the total number of unique countries in the dataset?

In [169]:
countries_unique=data["Area"].unique()
len(countries_unique)

49

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017

In [177]:
highest_country=data.groupby("Area")["Y2017"].sum()
highest_country.sort_values(ascending=False)

Area
Nigeria                        1483268.23
Egypt                           866379.92
South Africa                    517590.54
Ethiopia                        448683.76
Morocco                         388495.36
Ghana                           337599.06
Algeria                         325644.27
United Republic of Tanzania     322616.85
Kenya                           264660.66
Sudan                           239931.92
Cameroon                        232030.43
Angola                          229159.57
Côte d'Ivoire                   224599.01
Uganda                          213950.38
Malawi                          181098.71
Mozambique                      161407.98
Mauritania                      156665.46
Mali                            149928.33
Madagascar                      131197.73
Niger                           126707.58
Benin                           124771.22
Tunisia                         124167.20
Zambia                          103223.77
Burkina Faso                    101855.07
Guinea                           98138.87
Senegal                          95681.15
Zimbabwe                         75919.34
Rwanda                           73663.69
Chad                             71594.68
Sierra Leone                     55311.33
Eswatini                         54343.33
Mauritius                        51114.83
Togo                             49841.88
Congo                            41181.68
Central African Republic         29937.00
Namibia                          29874.89
Liberia                          29342.20
Gabon                            27979.64
Gambia                           23154.18
Djibouti                         22729.91
Botswana                         22101.30
Lesotho                          21267.96
Guinea-Bissau                    19102.77
Cabo Verde                       14650.74
Sao Tome and Principe            12662.63
Seychelles                         442.34
Comoros                             59.84
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Name: Y2017, dtype: float64

What is the total sum of Wine produced in 2015 and 2018 respectively?

In [180]:
wine_summation=data.loc[data["Item"]=="Wine"]
round(wine_summation["Y2015"].sum(), 2)
round(wine_summation["Y2018"].sum(), 2)

4039.32

Areas that had the 7th lowest sum in 2017

In [195]:
lowest_area=data.groupby("Area")["Y2017"].sum()
lowest_area=lowest_area.sort_values(ascending=True)
seventh_lowest_area=lowest_area[6:7]
seventh_lowest_area
#lowest_area

Area
Guinea-Bissau    19102.77
Name: Y2017, dtype: float64

In [ ]:
Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation

In [199]:
high_stock_variation=data.loc[data["Element"]=="Stock Variation"]
year_with_high_stock_variation=high_stock_variation["Y2014"].sum(),high_stock_variation["Y2015"].sum(),high_stock_variation["Y2016"].sum(),high_stock_variation["Y2017"].sum()
year_with_high_stock_variation

(58749.83, 34910.990000000005, 33140.12, 54316.91)